<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>
<h1>Success! Welcome {{ .email }}</h1>
<img src="{{ .picture }}"  alt="Account Picture"/>
</body>
</html>